<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="usecases.mybatis.model.Creature" alias="Creature"/>
    <typeAlias type="usecases.mybatis.model.Hero" alias="Hero"/>
    <typeAlias type="usecases.mybatis.model.Skill" alias="Skill"/>
    <typeAlias type="usecases.mybatis.model.Stat" alias="Stat"/>
    <typeAlias type="usecases.mybatis.model.HeroSkill" alias="HeroSkill"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="MANAGED"/>
      <dataSource type="JNDI">
        <!--<property name="data_source" value="java:global/CreaturesDataSource"/>-->
        <property name="data_source" value="openejb:Resource/CreaturesDataSource"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <!--<mapper resource="mybatis/xml/UniversityMapper.xml"/>-->
    <!--<mapper resource="mybatis/xml/StudentCourseMapper.xml"/>-->
    <package name="usecases.mybatis.dao"/>
  </mappers>
</configuration>